<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectBesar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".tentang.LainActivity"
            android:exported="false" />
        <activity
            android:name=".tentang.KontakActivity"
            android:exported="false" />
        <activity
            android:name=".tentang.PrivasiActivity"
            android:exported="false" />
        <activity
            android:name=".RiwayatKeseluruhan"
            android:exported="false" />
        <activity
            android:name=".RiwayatActivity"
            android:exported="false" />
        <activity
            android:name=".mental.gpph.GPPH"
            android:exported="false" />
        <activity
            android:name=".mental.chat.CHATPENG"
            android:exported="false" />
        <activity
            android:name=".mental.chat.CHATALO"
            android:exported="false" />
        <activity
            android:name=".mental.kmme.KMME"
            android:exported="false" />
        <activity
            android:name=".perkembangan.tdl.TDL"
            android:exported="false" />
        <activity
            android:name=".perkembangan.tdd.TDD3"
            android:exported="false" />
        <activity
            android:name=".perkembangan.tdd.TDD2"
            android:exported="false" />
        <activity
            android:name=".perkembangan.tdd.TDD1"
            android:exported="false" />
        <activity
            android:name=".perkembangan.kpsp.KPSP48"
            android:exported="false" />
        <activity
            android:name=".perkembangan.kpsp.KPSP42"
            android:exported="false" />
        <activity
            android:name=".perkembangan.kpsp.KPSP36"
            android:exported="false" />
        <activity
            android:name=".perkembangan.kpsp.KPSP30"
            android:exported="false" />
        <activity
            android:name=".perkembangan.kpsp.KPSP24"
            android:exported="false" />
        <activity
            android:name=".TentangActivity"
            android:exported="false" />
        <activity
            android:name=".UbahAkunActivity"
            android:exported="false" />
        <activity
            android:name=".mental.gpph.GPPHActivity"
            android:exported="false" />
        <activity
            android:name=".mental.chat.CHATActivity"
            android:exported="false" />
        <activity
            android:name=".mental.kmme.KMMEActivity"
            android:exported="false" />
        <activity
            android:name=".perkembangan.tdl.TDLActivity"
            android:exported="false" />
        <activity
            android:name=".perkembangan.tdd.TDDActivity"
            android:exported="false" />
        <activity
            android:name=".perkembangan.kpsp.KPSPActivity"
            android:exported="false" />
        <activity
            android:name=".mental.MentalActivity"
            android:exported="false" />
        <activity
            android:name=".perkembangan.PerkembanganActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>